//Colors
$clr-pri: #25c977;
$clr-sec: #0c8a6a;

$clr-sec-1: #ffb900;
$clr-sec-2: #ff7730;

$clr-ter-1: #2998ff;
$clr-ter-2: #5643fa;

$clr-dark: #252e29;
$clr-grey-1: #444e49;
$clr-grey: #627069;
$clr-grey-light-1: #eaf7f0;
$clr-grey-light-2: rgb(235, 233, 233);
$clr-txt-light: #f0f7f2;

//font
$def-font-size: 1.5rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
